@import "./var.less";

// ====common====
body {
    margin: auto;
    padding: 1.5rem;
    max-width: 80ch;
    color:@c-normal;
}
a{
    text-decoration: none;
    color:@c-normal;
}



// =====nav=====
.nav{
    padding-left: 0px;
    list-style: none;
    display: flex;
    column-gap:16px;
    a{
        font-size: @f-xl;
    }
    &-active{
        a {
            color:@c-active;
        }
    }
}