@c-normal: #333;
@c-desc: #666;
@c-sub: #999;
@c-active: rgb(0, 110, 255);
@c-disabled: #ccc;


@f-sm: 13px;
@f-md:14px;
@f-lg:16px;
@f-xl:18px;
@f-2xl:20px;

@gap-sm:8px;
@gap-md: calc( @gap-sm * 2);
@gap-lg: calc( @gap-sm * 3);
@gap-xl: calc( @gap-sm * 4);

@box-shadow: 0 8px 24px  rgba(17,17,26,0.1), 0 16px 56px  rgba(17,17,26,0.1), 0 24px 140px 10px rgba(0, 0, 0, 0.1);

