---
export interface Props {
	title: string
	render: Function
	href: string
	img?: string
	desc: string
}
const { href, title, render, img, desc } = Astro.props
---

<li class="link-card">
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{
				img && (
					<div class="preview-img">
						<img src={img} />
					</div>
				)
			}
			<span class="desc">{desc}</span>
		</p>
	</a>
</li>
<style lang="less">
	@import '../style/var.less';
	.link-card {
		list-style: none;
		display: flex;
		padding: 20px 30px;
		background-image: none;
		background-color: rgba(#fff, 0.6);
		background-size: 400%;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
	}

	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		color: @c-normal;
		overflow: hidden;
		color: @c-desc;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		color: @c-normal;
	}
	p {
		margin-top: 8px;
		margin-bottom: 0;
		color: @c-desc;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent));
	}
	.preview-img {
		text-align: center;
		width: 100%;
		margin: @gap-md 0;
		img {
			max-height: 180px;
		}
	}
	.desc {
		word-wrap: break-word;
	}
</style>
