---
import { nav } from "@data/nav";

export interface Props {
  activeNav?:string
}


const { activeNav } = Astro.props;
const index = nav.findIndex(i=>i.title===activeNav)
---

<ul class="nav">
    <div class="nav-index">{index+1}</div>
    {
        nav.map((item) => (
            <li class={activeNav === item.title ? "nav-active" : ""}>
                <a href={item.slug}>{item.title}</a>
            </li>
        ))
    }
</ul>
